body{
    background-image: url("tabla.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
